.button {
    place-self: stretch;
    background-color: var(--buttons-color);
    color: var(--inner-borders);
    border: 3px solid var(--inner-borders);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.button:hover {
    opacity: 50%;
    cursor: pointer;
}
