.button {
    place-self: stretch;
    background-color: grey;
    color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    opacity: 50%;
    cursor: pointer;
}
