.CalculatorBody {
    width: 350px;
    height: 500px;
    background-color: var(--calculator-color);
    border: 3px solid var(--calculator-border);
    border-radius: 15px;
    box-shadow: 20px 20px 20px var(--calculator-shadow),
        inset 5px 5px 7px var(--buttons-color);
}

.displayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.buttonContainer {
    padding: 0 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "ac ac div mul"
        "seven eight nine sub"
        "four five six add"
        "one two three eq"
        "zer zer dot eq";
    gap: 10px 10px;
    grid-auto-flow: row;
    height: calc(100% - 100px);
    background-color: transparent;
}
