.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: var(--app-background-image);
    user-select: none;
}

#signatureContainer {
    height: 50px;
    width: 150px;
    position: absolute;
    background-color: #181818;
    bottom: 25px;
    right: 25px;
    border-radius: 15px;
}

#signatureContainer:hover {
    border: 3px solid var(--calculator-border);
}

#signatureContainer a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 15px;
    font-family: "Press Start 2P", cursive;
    color: var(--calculator-border);
    text-decoration: none;
}
